@model Survey

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="~/styles.css">
  </head>
  <body>
    <h1>Take the Survey</h1>
    <form action="/process-survey" method="POST">
      <div>
        <span asp-validation-for="Name"></span>
        <label asp-for="Name">Your Name: </label>
        <input type="input" asp-for="Name">
      </div>
      <div>
        <span asp-validation-for="DojoLocations"></span>
        <label asp-for="DojoLocation">Dojo Location: </label>
        <select asp-for="DojoLocation" asp-items="@(new SelectList(Model.DojoLocations))"></select>
      </div>
      <div>
        <span asp-validation-for="FavoriteLanguage"></span>
        <label asp-for="FavoriteLanguage">Favorite Language: </label>
        <select asp-for="FavoriteLanguage" asp-items="@(new SelectList(Model.FavoriteLanguages))">
        </select>
      </div>
      <div>
        <span asp-validation-for="Comment"></span>
        <label asp-for="Comment">Comments: (optional) </label>
      </div>
      <div>
        <textarea asp-for="Comment"></textarea>
      </div>
      <div>
        <input value="Add Survey" type="submit">
      </div>
    </form>
  </body>
</html>